<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
    <context:component-scan base-package="com.lq.*"/>

    <context:annotation-config/>
    <mvc:interceptors>
        <bean class="com.lq.interceptor.HttpInteceptor"/>
    </mvc:interceptors>
    <mvc:resources mapping="static/**" location="static/"/>
    <!-- <mvc:resources mapping="/js/**" location="WEB-INF/js/"/>
     <mvc:resources mapping="/css/**" location="WEB-INF/css/"/>
     <mvc:resources mapping="/font/**" location="WEB-INF/font/"/>
     <mvc:resources mapping="/images/**" location="WEB-INF/images/face/"/>-->

    <mvc:annotation-driven>
        <mvc:argument-resolvers>
            <bean class="org.springframework.data.web.PageableHandlerMethodArgumentResolver">
                <property name="pageParameterName" value="page"/>
                <property name="sizeParameterName" value="pageSize"/>
            </bean>
        </mvc:argument-resolvers>
    </mvc:annotation-driven>
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
    <bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean class="com.lq.utils.ApplicationContextHelper" lazy-init="false"/>

    <task:executor id="executor" pool-size="15"/>
    <task:annotation-driven executor="executor"/>
</beans>